/* Logo styling */
#logo {
  width: 200px;
  height: 200px;
  background-image: url('../assets/holberton-logo.jpg');
  background-size: 200px 200px;
  background-repeat: no-repeat;
}

/* Counter styling */
.counter {
  font-weight: bold;
  margin-left: 10px;
  display: inline-block;
}